%h1 User list
%table
  %thead
    %th Nickname
    %th Real name
    %th Artist
    %th Album
  %tbody
  - @users.each do |user|
    %tr
      %td= link_to user.nickname, user
      %td= user.full_name
      %td= link_to 'Artists', user_artists_path(user)
      %td= link_to 'Albums', user_albums_path(user)
%br
