#search-form
  %h3.caps Search for Music
  .box
    = form_for('search', :url => '', :html => { :method => 'get'}) do |f|
      %label Search for Albums, Artists and Tracks
      = f.text_field :album_title
      = content_tag(:button, content_tag(:span, 'Search'), :class => 'button', :type => 'submit')
  %br
