#recent-comments
 %h3.caps Recent comments
 .box
  - for comment in @comments
   .quiet
    Album: #{link_to comment.commentable.title, artist_album_path(comment.commentable.artist, comment.commentable)}
    %br
    = comment.title
    %br
    = comment.comment
   %br